@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Quicksand:wght@300..700&display=swap');

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  color:red;
}


.logo {
  display: flex;
  align-items: center;
}

.logo.photo {
  width: 96px;
}

h1 {
  font-family:'Times New Roman', Times, serif;
  font-family:'Inter';
  font-weight: 900;
  font-style: italic;
}

.logo-text {
  display: flex;
  justify-content: center;
}
